<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Curso Profesional Vue.js</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .b-task {
            cursor: pointer;
        }

        .b-task.is-completed {
            color: gray;
        }

        .is-completed .glyphicon {
            color: green;
        }

        .is-uncompleted .glyphicon {
            color: orange;
        }

        .b-task__category {
            font-size: 10px;
            text-transform: uppercase;
            color: gray;
            background: #fefefe;
            border: 1px solid gray;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <h1>Manejo de Eventos</h1>


                    <form @submit.prevent="createTask" class="well">
                        <div class="form-group">
                            <label for="taskTitle">Tarea</label>
                            <input type="text" class="form-control" id="taskTitle"
                                   placeholder="¿Qué te falta por hacer?" v-model="newTask" required>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" v-model="newTaskStatusCompleted"> Completada
                            </label>
                        </div>

                        Sincronizar en todos los dispositivos
                        <div class="radio">
                            <label>
                                <input type="radio" value="Yes" name="newTaskSyncWithDevices"
                                       id="newTaskSyncWithDevicesYes" v-model="newTaskSyncWithDevices">
                                Sí
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="No" name="newTaskSyncWithDevices"
                                       id="newTaskSyncWithDevicesNo" v-model="newTaskSyncWithDevices">
                                No
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="newTaskCategory">Categoría</label>
                            <select v-model="newTaskCategory" id="newTaskCategory" class="form-control">
                                <option>Personal</option>
                                <option>Trabajo</option>
                                <option>Diversión</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary" :disabled="newTask.length < 4">Guardar</button>
                    </form>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                    <div class="b-tasks-container">

                        <h2>Mis tareas</h2>

                        <ul class="b-tasks">
                            <li class="b-task" v-for="task in tasks" @click="completeTask(task)"
                                :class="{'is-completed' : task.completed, 'is-uncompleted': ! task.completed}">
                                <p>
                                    {{ task.title }} <span class="b-task__category" v-if="task.category">{{ task.category.name }}</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span class="glyphicon glyphicon-cloud" v-if="task.synchronize === 'Yes'"></span>
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      (function() {

        new Vue({
          el: '#app',
          data: {
            newTask: '',
            newTaskStatusCompleted: false,
            newTaskSyncWithDevices: '',
            newTaskCategory: 'Trabajo',
            tasks: [
              {
                title: 'Enviar email a proveedores',
                completed: false,
                synchronize: 'Yes',
                category: {
                  name: 'Trabajo'
                }
              },
              {
                title: 'Hablar por teléfono con mamá',
                completed: true,
                synchronize: 'No'
              },
              {
                title: 'Reservar restaurante para la cena',
                completed: false,
                synchronize: 'No'
              },
              {
                title: 'Buscar libro sobre IA',
                completed: false,
                synchronize: 'No'
              }
            ]
          },
          methods: {
            completeTask: function(task) {
              task.completed = true;
            },
            createTask: function() {
              this.tasks.push({
                title: this.newTask,
                completed: this.newTaskStatusCompleted,
                synchronize: this.newTaskSyncWithDevices,
                category: {name: this.newTaskCategory}
              });
              this.newTask = '';
              this.newTaskStatusCompleted = false;
            }
          },
          computed: {
            sortedTasks: function() {
              return this.tasks.sort();
            }
          }
        });

      })();
    </script>
</body>
</html>