<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Curso Profesional Vue.js</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .b-tasks {
            margin: 0;
            padding-left: 15px;
        }

        .b-task {
            cursor: pointer;
        }

        .b-task.is-completed {
            color: gray;
        }

        .is-completed .glyphicon {
            color: green;
        }

        .is-uncompleted .glyphicon {
            color: orange;
        }

        .b-task__date {
            font-size: 10px;
            color: gray;
        }

        .b-task__category {
            font-size: 10px;
            /*text-transform: uppercase;*/
            color: gray;
            background: #fefefe;
            border: 1px solid gray;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                    <h1>Componentes</h1>
                    <div class="b-tasks-container">
                        <h2>Mis tareas</h2>
                        <task-component :tasks-in-child-component="tasks"
                                        @emit-create-method="parentHandler"></task-component>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script type="text/x-template" id="task-component-template">
        <ul class="b-tasks">
            <li class="b-task" v-for="task in tasksInChildComponent"
                :class="{'is-completed' : task.completed, 'is-uncompleted': ! task.completed}"
                @click="childHandler(task)">
                <p>
                    {{ task.title }}
                    <span class="b-task__category" v-if="task.category">
                        {{ task.category.name | uppercase }}
                    </span>
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="glyphicon glyphicon-cloud" v-if="task.synchronize === 'Yes'"></span>
                </p>
                <p class="b-task__date">
                    {{ task.createdOn | friendlyDate }}
                </p>
            </li>
        </ul>
    </script>
    <script>
      (function() {
        // Filtro globalmente registrado
        Vue.filter('friendlyDate', function(value) {
          if (!value) return '';
          if (value instanceof Date) return value.toDateString();
          return value;
        });

        // Componente globalmente registrado
        Vue.component('task-component', {
          props: ['tasksInChildComponent'],
          template: '#task-component-template',
          methods: {
            childHandler: function(task) {
              this.$emit('emit-create-method', task);
            }
          },
          filters: {
            uppercase: function(value) {
              if (!value) return '';
              return value.toString().toUpperCase();
            }
          }

        });

        new Vue({
          el: '#app',
          data: function() {
            return {
              tasks: [
                {
                  title: 'Enviar email a proveedores',
                  completed: false,
                  synchronize: 'Yes',
                  category: {
                    name: 'Trabajo'
                  },
                  createdOn: new Date()
                },
                {
                  title: 'Hablar por teléfono con mamá',
                  completed: true,
                  synchronize: 'No',
                  createdOn: new Date(2018, 1, 13)
                },
                {
                  title: 'Reservar restaurante para la cena',
                  completed: false,
                  synchronize: 'No',
                  createdOn: new Date(2018, 1, 5)
                },
                {
                  title: 'Buscar libro sobre IA',
                  completed: false,
                  synchronize: 'No',
                  createdOn: new Date(2018, 1, 2)
                }
              ]
            };
          },
          methods: {
            parentHandler: function(task) {
              task.completed = true;
            }
          }
        });

      })();
    </script>
</body>
</html>